html {
background-color: white;
max-width: 960px;
margin: auto; 

}

header {
font-family: "verdana";
background-image: url("header.jpg"); 
padding: 15px; 

}
#header {
	font-size: 300%;
	color: black;

}





