html {
background-color: white;
max-width: 980px;
margin: auto; 

}

header {
font-family: "verdana";
background-image: url("../images/header.jpg"); 
padding: 15px; 

}
#header {
	font-size: 300%;
	color: black;

}

nav {
background-color: #a7d7f2;
overflow: auto;
padding: 15px;

}

a {

  padding: 8px;
  color: black;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  font-family: "arial";
  
  }
  
body {
background-color:#def3ff;
font-size: 14px;

}


article {
max-width: 550px;
padding-left: 20px;
font-family: "arial";
font-size: 14px;
float: center;
background-color:#def3ff;


}




h2 {
font-family: "arial";
font-size: 16px;
padding-right: 15px;
padding-top: 10px


}

h3 {
font-size: 15px;
color: #2c8db0;
}

hr.hr1 {
  border: 1px dashed #2c8db0;
  
}


#searchbar {

display: inline-block;
list-style:none;
padding-left: 170px;
z

}




.aside {

    float: right;
    vertical-align:top;
	margin: 20px;
	padding: 5px;
	overflow: auto;
	
	

}

img {
	border: 7px solid lightblue;
}

.captions {
border: solid black 1px;
padding: 3px;
text-align: center;
}

section {

float: center;
display: inline-block;

}


.showmore {
  font-size: 14px;
  margin-top: 1.5em;
  
}

.showmore .more, .showmore.show .dots {
  display: none
}

.showmore.show .more {
  display: inline
}

.showmore a {
  cursor: pointer;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-weight: bold;
}

footer {
background-color: #a7d7f2;
overflow: auto;
padding: 15px;

}


