html {
background-color: white;
max-width: 960px;
margin: auto; 

}

header {
font-family: "verdana";
background-image: url("../images/header.jpg"); 
padding: 15px; 

}
#header {
	font-size: 300%;
	color: black;

}

nav {
background-color: #a7d7f2;
overflow: auto;
padding: 15px;

}

a {

  padding: 8px;
  color: black;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  font-family: "arial";
  
  }




